# --- Backend & Serwer ---
fastapi==0.135.1
uvicorn==0.42.0
python-multipart==0.0.22
python-dotenv==0.21.0

# --- Modele AI & Przetwarzanie ---
onnxruntime==1.23.2
transformers==5.3.0
faiss-cpu==1.13.2
scikit-learn==1.7.2
pillow==12.1.1
psutil

# --- Narzędzia deweloperskie / Budowanie EXE ---
pyinstaller==6.19.0